@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --primary-color: #3a86ff; /* blue */
  --secondary-color: #20c997; /* teal */
  --accent-color: #ffc107; /* soft yellow */
  --text-color: #212529; /* dark */
  --background-color: #f8f9fa; /* light */
  --color: #ffffff; /* white */
  --nav-link-color: #e9f2ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* navbar styles start */

.navbar {
  background-color: var(--primary-color);
}

.sparkle-clean-services-logo {
  height: 160px;
}

.nav-link {
  color: var(--nav-link-color);
}

/* navbar styles end */

/* size testimonial images */

.testimonial-profile-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  background-color: var(--primary-color);
}

.modal-header {
  background-color: var(--primary-color);
}
